.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(4, 350px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

@media (max-width: 560px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}